<section class="container box">
  <div class="block has-text-centered">
    <div class="box">
      <span class="icon"><i class="icon is-size-2 icofont-sad"></i></span>
      <span class="title"> Ooops! Looks like you are not logged in. </span>
      <span class="icon"><i class="icon is-size-2 icofont-sad"></i></span>
    </div>
    <div class="box">
      <p class="subtitle is-size-3">
        To use the <strong>md-brush</strong> generator please log in or sign up!
      </p>
    </div>
    <div class="box">
      <p class="subtitle is-size-3">
        If you do not want to log in or sign up at this time, feel free to
        <span><a class="link" routerLink="explore">explore</a></span>
        public themes.
      </p>
      <p class="subtitle is-size-3">
        Happy Exploring!
        <span class="icon"><i class="icofont-wink-smile"></i></span>
      </p>
    </div>
  </div>
</section>
