<section class="container">
  <section class="columns mobile-column" style="min-height: 70vh">
    <section
      class="
        column
        is-5 is-flex is-justify-content-center is-align-items-center
      "
    >
      <section class="box">
        <article class="title is-2 has-text-centered">
          COLOR THEME GENERATOR FOR CUSTOM MARKDOWN BLOG SITES
          <p class="subtitle">
            Create theme for your personal blog or use existing ones!
          </p>
        </article>
        <section class="buttons is-justify-content-center">
          <a routerLink="new" class="button is-primary is-medium">GENERATE</a>
          <a routerLink="explore" class="button is-info is-medium">EXPLORE</a>
        </section>
      </section>
    </section>
    <section
      class="column is-flex is-justify-content-center is-align-items-center p-4"
    >
      <div class="cell is-flex is-justify-content-center is-align-items-center">
        <img src="assets/images/home/1.png" />
        <img src="assets/images/home/2.png" class="mid mb-4" />
        <img src="assets/images/home/4.png" class="mb-4" />
      </div>
    </section>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MD Brush</strong> by
        <a href="https://github/mbos2">@Matej Bošnjak</a>. The source code can
        be found on <a href="https://github.com/mbos2/md-brush">github</a> and
        is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
</section>
