.columns
  gap: 2rem

.cell
  height: 60%
  gap: 10px
  margin-left: 10rem
  img
    width: 50%
    height: 100%
  .mid
    height: 120%
    margin-bottom: 20px

@media only screen and (max-width: 1215px) and (min-width: 1024px)
  .cell
    margin-left: 0
    img
      width: 45%

@media only screen and (max-width: 1023px)
  .mobile-column
    flex-direction: column
    .column
      width: 100%
      justify-content: center
  .cell
    margin-left: 0
    img
      width: 30%
