<section class="section">
  <section class="columns is-variable">
    <section class="column is-two-fifths pt-0">
      <div
        id="mdPreview"
        class="md-preview md-preview-section"
        (scroll)="onScroll($event, 'md-editor')"
        #scrollOne
      >
        <markdown
          #markdownContainer
          class="markdown md-preview-section p-1"
          [data]="markdownRaw"
          name="markdown-preview"
        ></markdown>
      </div>
    </section>
    <section class="column is-two-fifths pt-0">
      <textarea
        id="md-editor"
        class="markdown-editor md-preview"
        [(ngModel)]="markdownRaw"
        [value]="markdownRaw"
        name="markdown-editor"
        (scroll)="onScroll($event, 'mdPreview')"
        #scrollTwo
      >
      </textarea>
    </section>
    <!--FORM-->
    <section class="column p-0 is-flex is-justify-content-center">
      <div
        class="card"
        style="overflow-y: scroll; max-height: 84vh; height: auto"
      >
        <header class="card-header">
          <div class="css-button">
            <button class="button is-primary is-small" (click)="openDialog()">
              GET CSS
            </button>
            <button
              class="button ml-3 is-warning is-small"
              (click)="resetForm()"
            >
              <span class="icon is-small is-size-7">
                <i class="icofont-refresh"></i>
              </span>
              <span class="ml-1 is-size-7 is-size-8-touch">RESET</span>
            </button>
          </div>
        </header>

        <a
          href="#font-family"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
        >
          <span>FONTFAMILY</span>
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="font-family" class="is-collapsible">
          <div class="card-content">
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <select
                (change)="onMarkdownFontFamilyChangeEvent($event)"
                class="select is-success is-small"
              >
                <option
                  *ngFor="let fontFamily of markdownTheme.helpers.fontFamilies"
                  [value]="fontFamily"
                  [selected]="fontFamily === 'Arial' ? true : false"
                  (change)="onMarkdownFontFamilyChangeEvent($event)"
                >
                  {{ fontFamily }}
                </option>
              </select>

              <span class="divider"></span>
              <span>{{ markdownTheme.fontFamily }}</span>
            </div>
          </div>
        </div>
        <a
          href="#background"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >BACKGROUND
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="background" class="is-collapsible">
          <div class="card-content">
            <label class="label has-text-weight-light">COLOR</label>
            <div
              class="is-flex is-justify-content-center is-align-items-center"
            >
              <input
                id="color1"
                class="input"
                type="color"
                value="markdownTheme.background"
                (change)="onMarkdownBackgroundColorChangeEvent($event)"
              />

              <span class="divider"></span>
              <span>{{ markdownTheme.backgroundColor }}</span>
            </div>
          </div>
        </div>

        <a
          href="#headers"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >HEADERS
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="headers" class="is-collapsible">
          <div class="card-content">
            <label class="label has-text-weight-light">COLOR</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="color"
                value="markdownTheme.headers.color"
                (change)="onHeadersColorChangeEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.headers.color }}</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light"
              >LETTER SPACING</label
            >
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="number"
                step="0.05"
                [value]="markdownTheme.headers.letterSpacing"
                (change)="onHeadersLetterSpacingChangeEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.headers.letterSpacing }}px</span>
            </div>
            <hr />
          </div>
        </div>

        <!--PARAGRAPHS-->
        <a
          href="#paragraphs"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >PARAGRAPHS
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="paragraphs" class="is-collapsible">
          <div class="card-content">
            <label class="label has-text-weight-light">COLOR</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="color"
                value="markdownTheme.paragraph.color"
                (change)="onParagraphColorChangeEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.paragraph.color }}</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light"
              >LETTER SPACING</label
            >
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="number"
                step="0.05"
                [value]="markdownTheme.paragraph.letterSpacing"
                (change)="onParagraphLetterSpacingChangeEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.paragraph.letterSpacing }}px</span>
            </div>
          </div>
        </div>

        <!--LINKS-->
        <a
          href="#links"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >LINKS
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="links" class="is-collapsible">
          <div class="card-content">
            <label class="label has-text-weight-light">COLOR</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="color"
                value="markdownTheme.headers.color"
                (change)="onAnchorsColorChangeEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.anchors.color }}</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light"
              >LETTER SPACING</label
            >
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="number"
                step="0.05"
                [value]="markdownTheme.anchors.letterSpacing"
                (change)="onAnchorsLetterSpacingChangeEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.anchors.letterSpacing }}px</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light">FONT WEIGHT</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <div class="control has-icons-left">
                <div class="select">
                  <select (change)="onAnchorsFontWeightChangeEvent($event)">
                    <option
                      *ngFor="let weight of markdownTheme.helpers.fontWeight"
                      [value]="weight"
                      [selected]="weight === 'normal' ? true : false"
                      (change)="onAnchorsFontWeightChangeEvent($event)"
                    >
                      {{ weight }}
                    </option>
                  </select>
                </div>
                <div class="icon is-small is-left">
                  <i class="icofont-font"></i>
                </div>
              </div>
              <span class="divider"></span>
              <span>{{ markdownTheme.anchors.fontWeight }}</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light">UNDERLINED</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <div class="control has-icons-left">
                <label class="checkbox">
                  <input
                    type="checkbox"
                    checked="true"
                    [value]="markdownTheme.anchors.textDecoration"
                    (change)="onAnchorsTextDecorationChangeEvent($event)"
                  />
                </label>
              </div>
              <span class="divider"></span>
              <span>{{ markdownTheme.anchors.textDecoration }}</span>
            </div>
          </div>
        </div>

        <!--CODE INLINE-->
        <a
          href="#code-inline"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >CODE-INLINE
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="code-inline" class="is-collapsible">
          <div class="card-content">
            <label class="label has-text-weight-light">COLOR</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="color"
                value="markdownTheme.codeInline.color"
                (change)="oninlineCodeColorChangeEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.codeInline.color }}</span>
            </div>
            <hr />
            <label class="label has-text-weight-light">BACKGROUND COLOR</label>
            <div
              class="is-flex is-justify-content-center is-align-items-center"
            >
              <input
                class="input"
                type="color"
                value="markdownTheme.codeInline.backgroundColor"
                (change)="oninlineBackgroundCodeColorChangeEvent($event)"
              />

              <span class="divider"></span>
              <span>{{ markdownTheme.codeInline.backgroundColor }}</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light">FONT WEIGHT</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <div class="control has-icons-left">
                <div class="select">
                  <select (change)="oninlineCodeFontWeightChangeEvent($event)">
                    <option
                      *ngFor="let weight of markdownTheme.helpers.fontWeight"
                      [value]="weight"
                      [selected]="weight === 'normal' ? true : false"
                      (change)="oninlineCodeFontWeightChangeEvent($event)"
                    >
                      {{ weight }}
                    </option>
                  </select>
                </div>
                <div class="icon is-small is-left">
                  <i class="icofont-font"></i>
                </div>
              </div>
              <span class="divider"></span>
              <span>{{ markdownTheme.codeInline.fontWeight }}</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light"
              >BORDER RADIUS</label
            >
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="number"
                step="0.05"
                [value]="markdownTheme.codeInline.borderRadius"
                (change)="oninlineCodeBorderRadiusEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.codeInline.borderRadius }}px</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light">PADDING X</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="number"
                step="0.05"
                [value]="markdownTheme.codeInline.paddingX"
                (change)="oninlineCodePaddingXEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.codeInline.paddingX }}px</span>
            </div>
            <hr />
            <label class="label mt-2 has-text-weight-light">PADDING Y</label>
            <div
              class="
                is-flex
                is-flex-direction-row
                is-justify-content-center
                is-align-items-center
              "
            >
              <input
                class="input"
                type="number"
                step="0.05"
                [value]="markdownTheme.codeInline.paddingY"
                (change)="oninlineCodePaddingYEvent($event)"
              />
              <span class="divider"></span>
              <span>{{ markdownTheme.codeInline.paddingY }}px</span>
            </div>
          </div>
        </div>

        <!--CODE BLOCK-->
        <a
          href="#code-block"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >CODE-BLOCK
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="code-block" class="is-collapsible">
          <div class="card-content"></div>
        </div>

        <!--BLOCKQUOTES-->
        <a
          href="#blockquote"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >BLOCKQUOTE
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="blockquote" class="is-collapsible">
          <div class="card-content"></div>
        </div>

        <!--LISTS-->
        <a
          href="#lists"
          data-action="collapse"
          class="card-header-title"
          aria-label="more options"
          (click)="arrowAnimationToggle($event)"
          >LISTS
          <span class="divider"></span>
          <span class="icon"
            ><i
              class="icofont-rounded-down icofont-2x icofont-rotate-270"
              width="32"
              heigth="32"
            ></i
          ></span>
        </a>
        <div id="lists" class="is-collapsible">
          <div class="card-content"></div>
        </div>
      </div>
    </section>
  </section>
</section>

<!-- MODAL -->
<div class="modal" id="myModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">THEME CSS</p>
      <button class="delete" (click)="closeDialog()"></button>
    </header>
    <section class="modal-card-body">
      <pre>
        <code id="css-code"> {{ cssString }} </code>
      </pre>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="copyCss()">
        COPY TO CLIPBOARD
      </button>
    </footer>
  </div>
</div>
