<!-- <section class="markdown-container">
  <section class="md-preview-section">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Preview markdown">
        <markdown
          #markdownContainer
          class="markdown"
          [data]="markdown"
          lineNumbers
          [start]="5"
          lineHighlight
          [line]="'0'"
          [lineOffset]="5"
        ></markdown>
      </mat-tab>
      <mat-tab label="Edit markdown">
        <textarea
          class="markdown-editor"
          (change)="getMarkdownContentValue($event)"
          ngModel="markdownRaw"
        >
          {{ markdownRaw }}
        </textarea>
      </mat-tab>
    </mat-tab-group>
  </section>

  <section>
    <mat-card-header>
      <mat-card-title>Theme form</mat-card-title>
    </mat-card-header>

    <mat-accordion (click)="appendOpenAccordionColor($event)">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Background </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="input-span">
          <input
            value="markdownColors.background"
            type="color"
            name="background-color"
            (change)="onMarkdownBackgroundColorChangeEvent($event)"
          />
          <span>{{ markdownTheme.background }}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Paragraph </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="input-span">
          <input
            type="color"
            name="paragraph-color"
            (change)="onParagraphColorChangeEvent($event)"
          />
          <span>{{ markdownTheme.background }}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <button
      mat-raised-button
      color="accent"
      (click)="openDialog()"
      styles="{margin-top: 1rem !important}"
    >
      GET CSS
    </button>
  </section>
</section> -->
