/* You can add global styles to this file, and also import other style files */
@import './sass/markdown.sass'
@import "./sass/icofont/icofont.min.css"
@import 'accordion-js/dist/accordion.min.css'
@import '@creativebulma/bulma-collapsible'
body
  // background-color: #404040
  margin: 0
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.img-rounded
  border-radius: 50%

i
  line-height: 0
  transition: 0.2s
  :before
    width: 32px
    height: 32px

.green-arrow
  color: #80ffcc

.divider
  width: 100%

.divider-half
  width: 50%

.container
  margin: 0 auto
  padding: 2rem
  background-color: white

li::before
  color: red

#previewModal
  height: 100vh
  width: 100vw
  .modal-card
    width: 100%
    height: 100%
