// @import "../../../../node_modules/bulma/sass/base/_all.sass"

nav
  padding-left: 1rem
  padding-right: 1rem
  border-top: 1px solid #cccccc
  border-bottom: 1px solid #cccccc

.link
  position: relative
  text-decoration: none
  letter-spacing: 0.05rem
  font-size: 1.25rem
  &:after
    content: ''
    position: absolute
    width: 0
    height: 3px
    display: block
    margin-top: 30px
    right: 0
    background-color: #80ffcc
    transition: width .2s ease
    -webkit-transition: width .2s ease
  &:hover:after
    width: 100%
    left: 0
    background-color: #80ffcc

.navbar-item img
  width: 4.5rem
  height: 4.5rem
  max-height: 4.5rem

.md-svg-logo
  transition: all 0.3s ease
  &:hover
    transform: scale(1.1)

.md-svg-logo .bg-fill
  animation: bgfillOut 0.3s ease forwards

.md-svg-logo:hover .bg-fill
  animation: bgfill 0.3s ease forwards

.md-svg-logo:hover > .detail-fill
  transition: all 0.3s ease
  fill: rgb(0, 46, 77)

.md-svg-logo .detail-fill
  animation: detailfillOut 0.3s ease forwards

.md-svg-logo:hover .detail-fill
  animation: detailfill 0.3s ease forwards

@keyframes bgfill
  0%
    fill: #323232
  100%
    fill: rgb(153, 214, 255)
    --anim-hover-out: bgfillOut

@keyframes bgfillOut
  0%
    fill: rgb(153, 214, 255)
  100%
    fill: #323232

@keyframes detailfill
  0%
    fill: #2FDF84
  100%
    fill: rgb(0, 46, 77)
    --anim-hover-out: bgfillOut

@keyframes detailfillOut
  0%
    fill: rgb(0, 46, 77)
  100%
    fill: #2FDF84
